<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516657105812-mlojddlbj7amoabh48mk7p28thkicord.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516657105812-mlojddlbj7amoabh48mk7p28thkicord</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Avlu1u9lb9ILK6CxSA_aHyF2MEqGdnU</string>
	<key>GCM_SENDER_ID</key>
	<string>516657105812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FlanneryThompson.bottleBuddy</string>
	<key>PROJECT_ID</key>
	<string>bottlebuddy-b36c1</string>
	<key>STORAGE_BUCKET</key>
	<string>bottlebuddy-b36c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516657105812:ios:56ea798cad17bce6095d81</string>
	<key>DATABASE_URL</key>
	<string>https://bottlebuddy-b36c1.firebaseio.com</string>
</dict>
</plist>